:root {
    --primary-color: #124658;
    --secondary-color: #06171E;
    --white: #ffff;
    --gray: #627B84;
}

body {
    background-color: var(--secondary-color);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

header {
    padding: 20px;
}

main {
    width: 100%;
}

section {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.bg-blue {
    background: #09212A;
}

.gallery {
    width: 100%;
    height: 75vh;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding-right: 16px;
    padding-left: 16px;
    overflow: hidden;
}

.title {
    font-size: 2.5rem;
    text-align: center;
    color: var(--white);
    margin-bottom: 50px;
}

.gallery__image_wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    align-items: center;
}

.gallery__image_box {
    width: 150px;
    height: 150px;
    overflow: hidden;
    border: 2px solid var(--primary-color);
    border-radius: 16px;
    transition: .2s ease-out;
}

/* @media screen and (min-width: 320px) {
    .gallery__image_box {
        width: 46%; 
    }
}

@media screen and (min-width: 720px) {
    .gallery__image_box {
        width: 30%;
    }
}
 */

.image_box__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-position: right;
}

.gallery__image_box:hover {
    transform: scale(1.03);
    transition: .1s ease-in;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.192);
}



footer {
    position: absolute;
    bottom: 1;
    width: 100%;
}


.footer_logo_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 30px;
}

.footer_logo {
    width: 100px;
}

.imprint_text {
    font-size: 11px; 
    color: var(--gray);
}