body {
    min-width: 320px;
    max-width: 1440px;
    background-color: rgb(20, 20, 20);
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background: linear-gradient(rgb(145, 0, 182), rgb(196, 19, 116));
    padding: 20px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

main {
    width: 100%;
}

section {
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: rgb(45, 51, 68);
}

.gallery {
    width: 100%;
}

.container {
    margin: 0 auto;
    padding-right: 16px;
    padding-left: 16px;
    overflow: hidden;
}

.container .title {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: white;
}

.gallery__image_wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
}

.gallery__image_box {
    width: 100%;
    overflow: hidden;
}

@media screen and (min-width: 320px) {
    .gallery__image_box {
        width: 46%; 
        height: 150px;
    }
}

@media screen and (min-width: 720px) {
    .gallery__image_box {
        width: 30%;
        height: 200px;
    }
}

@media screen and (min-width: 900px) {
    .gallery__image_box {
        width: 22%; 
        height: 200px;
    }
}

@media screen and (min-width: 1200px) {
    .gallery__image_box {
        width: 17%; 
        height: 200px;
    }
}

.image_box__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-position: right;
}







.border {
    border-radius: 1rem;
    border: solid 3px rgba(255, 255, 255, 0.247);
}