:root {
    --primary-color: #124658;
    --secondary-color: #06171E;
    --white: #ffff;
    --gray: #627B84;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

body {
    background-color: var(--secondary-color);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

header {
    padding: 20px;
}

main {
    width: 100%;
}

section {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.bg-blue {
    background: #09212A;
}

.fg_container__xxl {
    max-width: 1920px;
    margin: 0 auto;
    padding-right: 16px;
    padding-left: 16px;
    overflow: hidden;
}

.fg_container {
    max-width: 1440px;
    margin: 0 auto;
    padding-right: 16px;
    padding-left: 16px;
    overflow: hidden;
}

.title {
    font-size: 2.5rem;
    text-align: center;
    color: var(--white);
    margin-bottom: 50px;
}


/* Gallery-Section Styling */

.gallery {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 75vh;
}

@media screen and (max-width: 990px) {
    .gallery {
        margin-top: 50px;
        margin-bottom: 50px;
        min-height: auto!important;
    }
}

.gallery__image_wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    align-items: center;
}

.gallery__image_box {
    width: 150px;
    height: 150px;
    overflow: hidden;
    border: 2px solid var(--primary-color);
    border-radius: 16px;
    transition: .2s ease-out;
    cursor: pointer;
}

@media screen and (min-width: 320px) and (max-width: 400px) {
    .gallery__image_box {
        width: 130px;
        height: 130px;
    }
}

.image_box__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-position: right;
}

.gallery__image_box:hover {
    transform: scale(1.03);
    transition: .1s ease-in;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.192);
}


/* Dialog Styling */

.image_dialog {
    width: 350px;
    background: var(--secondary-color);
    border: 0;
    border-radius: 30px;
    overflow: hidden;
    color: var(--white);
    background-color: #06171E;
    padding: 40px;
}

@media screen and (max-width: 750px) {
    .image_dialog {
        width: 97%;
        height: 540px;
        padding: 0;
    }

    .dialogImageInner {
        padding: 30px;
    }

    .dialog_image {
        height: 350px !important;
    }
}

.image_dialog::backdrop {
    background-color: #0000006c;
    backdrop-filter: blur(10px);
}

.image_dialog__header {
    padding: 0;
}

.image_dialog__header-wrapper {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.image_dialog__header-wrapper_title>h2 {
    font-size: 14px;
}

.dialog_close_btn {
    width: 10px;
    padding: 6px;
    border-radius: 50%;
    cursor: pointer;
    transition: .1s ease-in;
}

.dialog_close_btn:hover {
    background: var(--primary-color);
}

.dialog_image {
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.dialog_footer_arrow-wrapper {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.dialog_footer__arrow_icon_wrapper {
    display: flex;
    background: #fd5b4f26;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    align-content: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .1s ease-in;
}

.dialog_footer__arrow_icon_wrapper:hover {
    background: #fd5b4f49;
    transition: .1s ease-in;
}

.dialog_footer__right-arrow {
    width: 14px;
}

.dialog_footer__left-arrow {
    width: 14px;
    rotate: 180deg;
}

.dialog_footer__image-counter {
    padding-left: 30px;
    padding-right: 30px;
    font-size: 12px;
}

.footer__dialog {
    position: relative;
    width: 100%;
}




/* Footer Styling */

footer {
    position: absolute;
    bottom: 1px;
    width: 100%;
}

.footer__bg {
    background-image: url('images/Subtract.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

@media screen and (min-width: 320px) and (max-width: 740px) {
    footer {
        position: relative;
    }
    .footer__bg {
        background-size: cover;
    }
}


.footer_logo_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 30px;
}

.footer_logo {
    width: 100px;
}

.imprint_text {
    font-size: 11px;
    color: var(--gray);
}